#forget_password{
  margin-top: 0px;
  padding-bottom: 5px;
}

#forget_password a {
  font-style: italic;
  color: red;
  padding-left: 0%;
  padding-bottom: 5px;
}

#forget_password a:hover {
  color: rgb(108, 110, 221);
}

#username i {
  font-style: italic;
}

#group_name{
color: #007bff;
  font-style: italic;
}

.upload-icon {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: beige;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  color: #454545;
}

.btn-file{
  border-radius: 5px;
  position: relative;
}

.btn-file input {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}